@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #6366f1;
  --color-primary-chubb: #4f46e5;
  --color-primary-darker: #4338ca;
  --color-primary-darkest: #3730a3;
  --color-primary-light: #dedbfc; /* slightly lighter version */
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 65px;
}
