@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #7357ff;
  --color-primary-chubb: #4f46e5;

  --color-primary-darker: #5a3fdc;

  --color-primary-darkest: #3730a3;
  --color-primary-light: #dedbfc; /* slightly lighter version */
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 65px;
}

/* Global cursor styles */
.cursor-pointer {
  cursor: pointer !important;
}

/* Ensure links and buttons have pointer cursor */
a,
button,
[role="button"] {
  cursor: pointer;
}
